<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows All users</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
 <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        
        <%for(user of users){ %>
      <tr>
        <td> <%=user.id%></td>
        <td style="color:black;"><%=user.username%></td>
        <td style="color:blue;"><%=user.email%></td>
        <td>
            <form  method="get"action="/users/<%=user.id%>/edit">
                <button>    Edit userName</button>
            </form>
          </td>

           <td>
            <form  method="get"action="/users/<%=user.id%>/delete">
                <button> delete </button>
            </form>
          </td>
       </tr>
        <% }%>

      </table>

       <form  method="get"action="/users/new">
                <button style="height: 50px; width: 200px;">   Add the new user into the table </button>
            </form>
    </div>
   
</body>
</html>

